
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
      {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'fac/signupcss.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
<style>
   body {

  background-image:url("{% static 'fac/2.jpg' %}");
  height=100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;

}

</style>
    <form method="post" action="/fac/edit_user5/{{user.username}}" id="edit_user5" name="edit_user5">
        {% csrf_token %}
<h1>Post Your Question</h1>

            <label for="name">Name:</label>
        <input type="text" name="name" id="name" ><br>
            <textarea rows="4" cols="50" name="que" id="que"  ></textarea>

        <button type="submit">Submit</button>
      </form>


     </body>
</html>




