<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div>
    <div>
        <div>
            <div>
                <div>
                    <h1>create new user</h1>
                    {% if error_message %}
                    <p>{{error_message}}</p>
                    {% endif %}
                    <form role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'fac/form-template.html' %}
                        <div>
                            <div>
                                <button type="submit" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>